/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Mix */
.img--album {
  height: 120px;
  align-self: center;
  box-shadow: 0 0 8px black;
}

.text--action {
  margin-right: 8px;
}

.text--album-title,
.text--author {
  font-size: 20px;
}

.text--genre,
.text--year {
  font-size: 17px;
  color: lightgrey;
}

/* Body */
#main-app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

/* Header */
header {
  background-color: #1E2D3B;
  box-shadow: 0 3px 20px black;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}

.logo {
  width: 45px;
}

/* Main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 60px 30px;
  background-color: #4B4E6D;
  color: #F3DFA2;
  overflow-y: auto;
  height: calc(100% - 65px);
  width: 100%;
}

.album-card {
  display: flex;
  flex-direction: column;
  background-color: #792315;
  padding: 20px 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px black;
  width: 200px;
  margin: 0 20px 30px;
}

.album-card .text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  border-bottom: 1px dashed #5f5f5f;
}
